<div class="bloco">
  <div class="topItens">
    <div class="qtn">
      <p>RESTAM</p>
      <p
        style="
          font-size: 0.6875rem;
          line-height: 0.75rem;
          font-weight: 700;
          margin: 0.125rem 0px;
        "
      >
        {{ productItem.qtn }}
      </p>
      <p>UNID.</p>
    </div>
    <div class="heartPosition">
      <div class="coracao" (click)="ligarCoracao()"></div>
    </div>
  </div>

  <div class="imagemAnuncio">
    <a routerLink="/">
      <img
        [class]="productItem.imageSize"
        [src]="productItem.imageUrl"
        alt=""
      />
    </a>
  </div>

  <div class="containerContent">
    <div class="productName">
      <p>{{ productItem.name | slice: 0:100 }}</p>
    </div>

    <div class="bottomContent">
      <div class="pricePosition">
        <div class="priceContent">
          <div class="cut">
            <s>R$ {{ productItem.cutprice }}</s>
          </div>

          <div class="price">
            <p>R$ {{ productItem.price }}</p>
          </div>

          <div class="priceText">
            <p>
              {{ productItem.installmentMultiplier }}x de R$
              {{ productItem.installmentValue }} sem juros
            </p>
          </div>
        </div>

        <div class="blocoPix">
          <p>-{{ productItem.discount }}%</p>
        </div>
      </div>

      <button (click)="handleAddToCart()" class="marketButton">COMPRAR</button>
    </div>
  </div>
</div>
