<div class="bloco">
  <div class="topItens">
    <div class="heartPosition">
      <div class="coracao"></div>
    </div>
  </div>

  <div class="imagemAnuncio">
    <a routerLink="/">
      <img
        [class]="productItem.imageSize"
        [src]="productItem.imageUrl"
        alt=""
      />
    </a>
  </div>

  <div class="containerContent">
    <div class="productName">
      <p>{{ productItem.name }}</p>
    </div>

    <div class="bottomContent">
      <div class="pricePosition">
        <div class="cut">
          <s>R$ {{ productItem.cutprice }}</s>
        </div>

        <div class="price">
          <p>R$ {{ productItem.price }}</p>
          <div class="blocoPix">
            <p>-{{ productItem.discount }}%</p>
          </div>
        </div>

        <div class="priceText">
          <p>
            {{ productItem.installmentMultiplier }}x de R$
            {{ productItem.installmentValue }} sem juros
          </p>
        </div>
      </div>

      <button (click)="handleAddToCart()" class="marketButton">COMPRAR</button>
    </div>
  </div>
</div>
