<div class="topo">
  <nav id="navBar">
    <div class="menuPosition">
      <div class="menu">
        <a><img src="/assets/img/Icones/menuHamburguer.png" /></a>
      </div>
    </div>

    <div class="logoPosition">
      <div class="logo">
        <a href="#"
          ><img alt="logo" src="/assets/img/Icones/LogoPequena/logoMenor.png"
        /></a>
      </div>
    </div>

    <div class="caixaDePesquisaPosition">
      <div class="caixaDePesquisa">
        <input
          type="search"
          placeholder="Busque aqui"
          name="buscador"
          id=""
          class="pesquisa"
        />
        <a class="icon3" href="#"></a>
      </div>

      <div class="dropdownPesquisa">
        <P
          >Smart TV LG 77 4K OLED77C1, 120Hz, G-Sync, FreeSync, 4x HDMI 2.1,
          Inteligência Artificial, ThinQ, Google Alexa</P
        >
        <p>
          Processador Intel Core i5-10400, Cache 12MB, 2.9GHz (4.3GHz Max
          Turbo), LGA 1200
        </p>
      </div>
    </div>

    <div class="iconPosition">
      <div id="icon1"></div>
      <div id="icon2"></div>
    </div>
  </nav>

  <div class="carrinhoPosition" style="display: none">
    <div id="carrinho">
      <div id="exitCarrinho">
        <img src="/assets/img/Icones\x.png" />
      </div>

      <div class="itensComprados">
        <div class="emptyBagPosition">
          <div class="emptyBag">
            <img src="/assets/img/Icones\Bolsa\Bag 2.png" />
          </div>

          <p>Seu Carrinho está vazio.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="loginPosition">
    <div id="loginBar">
      <a routerLink="/login">Faça Login</a>
      <p>ou</p>
      <a routerLink="/register">Crie seu cadastro</a>
    </div>
  </div>
</div>

<div class="textMenu">
  <ul>
    <li><a>Departamentos</a></li>
    <li><a>Lançamentos</a></li>
    <li><a>Eletrônicos</a></li>
    <li><a>Oferta do dia</a></li>
    <li><a>Baixe o app</a></li>
    <li><a>Suporte</a></li>
  </ul>
</div>
