<body>
  <div class="slider">
    <div class="slide-container">
      <input class="btnSlider" type="radio" name="radio-btn" id="radio1" />
      <input class="btnSlider" type="radio" name="radio-btn" id="radio2" />
      <input class="btnSlider" type="radio" name="radio-btn" id="radio3" />

      <div class="slide active">
        <img class="imageDesktop" src="/assets/img/Caroussel\1.jpg" alt="" />
        <img
          class="imageMobile"
          src="/assets/img/Caroussel/mobile1.webp"
          alt=""
        />

        <div class="carouselText">
          <div class="titulo">
            <h1>O notebook gamer supremo</h1>
          </div>
          <div class="subTitulo">
            <p>
              O laptop para jogos de 14 polegadas mais poderoso está de volta e
              mais poderoso do que nunca.
            </p>
          </div>
          <a class="bot" routerLink="/">Explore esse mundo</a>
        </div>
      </div>

      <div class="slide">
        <img class="imageDesktop" src="/assets/img\Caroussel\2.png" alt="" />
        <img
          class="imageMobile"
          src="/assets/img\Caroussel/mobile2.webp"
          alt=""
        />

        <div class="carouselText">
          <div class="titulo">
            <h1>Não Importa o time</h1>
          </div>
          <div class="subTitulo">
            <p>Para todas os gostos nós possuimos seu console favorito.</p>
          </div>
          <a class="bot" routerLink="/">Venha Jogar</a>
        </div>
      </div>

      <div class="slide">
        <img class="imageDesktop" src="/assets/img/Caroussel/3.png" alt="" />
        <img
          class="imageMobile"
          src="/assets/img/Caroussel/mobile3.webp"
          alt=""
        />

        <div class="carouselText">
          <div class="titulo">
            <font color="#000"><h1>Gamers Club</h1></font>
          </div>
          <div class="subTitulo">
            <font color="#000"><p>O clube pra quem joga sério.</p></font>
          </div>
          <a class="bot" routerLink="/">Conheça mais</a>
        </div>
      </div>
    </div>

    <div class="carouselButtons">
      <div id="prev"></div>
      <div id="next"></div>
    </div>

    <div class="carouselDots">
      <div class="dot active"></div>
      <div class="dot"></div>
      <div class="dot"></div>
    </div>
  </div>

  <div class="margem">
    <div class="bannerLongoContainer">
      <div class="bannerLongo">
        <a routerLink="/"
          ><img
            class="bannerDesktop"
            src="/assets/img\Banner\Banner1.jpg"
            alt=""
        /></a>
        <a routerLink="/"
          ><img
            class="bannerMobile"
            src="/assets/img\Banner/bannerMobile1.png"
            alt=""
        /></a>
      </div>
    </div>

    <div class="tituloAnuncios">
      <div class="blockTitle">
        <div class="blockInter">
          <img
            src="https://www.logitechstore.com.br/media/interface/files/porcento.png"
            alt=""
          />
        </div>
      </div>
      <h2>Promoções</h2>
    </div>

    <section class="vitrine">
      <div class="bar1"></div>

      <div class="carouselPosition">
        <div class="carousel">
          <div class="fileira1">
            <div
              class="blocoPosition"
              *ngFor="let product of productList | slice: 5:10"
            >
              <app-product-item [productItem]="product"></app-product-item>
            </div>
          </div>

          <div class="fileira2">
            <div
              class="blocoPosition"
              *ngFor="let product of productList | slice: 0:5"
            >
              <app-product-item [productItem]="product"></app-product-item>
            </div>
          </div>
        </div>
      </div>

      <div class="bar2"></div>
    </section>

    <div class="tituloAnuncios">
      <div class="blockTitle">
        <div class="blockInter">
          <img
            src="https://www.logitechstore.com.br/media/interface/files/teclados.svg"
            alt=""
          />
        </div>
      </div>
      <h2>Periféricos</h2>
    </div>

    <section class="vitrine">
      <div class="bar3"></div>

      <div class="carouselPosition">
        <div class="carousel">
          <div class="fileira3">
            <div
              class="blocoPosition"
              *ngFor="let product of productList | slice: 5:10"
            >
              <app-product-item [productItem]="product"></app-product-item>
            </div>
          </div>

          <div class="fileira4">
            <div
              class="blocoPosition"
              *ngFor="let product of productList | slice: 0:5"
            >
              <app-product-item [productItem]="product"></app-product-item>
            </div>
          </div>
        </div>
      </div>

      <div class="bar4"></div>
    </section>

    <div class="bannerLongoContainer">
      <div class="bannerLongo">
        <a routerLink="/"
          ><img
            class="bannerDesktop"
            src="\assets\img\Banner\Banner2.jpg"
            alt=""
        /></a>
        <a routerLink="/"
          ><img
            class="bannerMobile"
            src="\assets\img\Banner/bannerMobile2.jpg"
            alt=""
        /></a>
      </div>
    </div>

    <div class="tituloAnuncios">
      <div class="blockTitle">
        <div class="blockInter">
          <img
            src="https://www.logitechstore.com.br/media/interface/files/icon-audio.svg"
            alt=""
          />
        </div>
      </div>
      <h2>Mais Vendidos</h2>
    </div>

    <section class="vitrineTipo2">
      <div class="vitrineSuperior">
        <div class="carouselPosition1">
          <div class="carousel">
            <div class="fileira7">
              <div
                class="blocoPosition"
                *ngFor="let product of productList | slice: 0:3"
              >
                <app-product-item [productItem]="product"></app-product-item>
              </div>
            </div>
          </div>
        </div>

        <div class="squareBannerPosition">
          <a routerLink="/"
            ><img
              class="squareBanner"
              src="\assets\img\Banner\bannerQuadrado2.jpg"
              alt=""
          /></a>
        </div>
      </div>

      <div class="vitrineInferior">
        <div class="carouselPosition2">
          <div class="carousel">
            <div class="fileira8">
              <div
                class="blocoPosition"
                *ngFor="let product of productList | slice: 3:6"
              >
                <app-product-item [productItem]="product"></app-product-item>
              </div>
            </div>
          </div>
        </div>

        <div class="squareBannerPosition">
          <a routerLink="/"
            ><img
              class="squareBanner"
              src="\assets\img\Banner\bannerQuadrado1.png"
              alt=""
          /></a>
        </div>
      </div>
    </section>

    <div class="tituloAnuncios">
      <div class="blockTitle">
        <div class="blockInter">
          <img
            src="https://www.logitechstore.com.br/media/interface/files/headset.svg"
            alt=""
          />
        </div>
      </div>
      <h2>HeadSets e Microfones</h2>
    </div>

    <section class="vitrine">
      <div class="bar9"></div>

      <div class="carouselPosition">
        <div class="carousel">
          <div class="fileira9">
            <div
              class="blocoPosition"
              *ngFor="let product of productList | slice: 5:10"
            >
              <app-product-item [productItem]="product"></app-product-item>
            </div>
          </div>

          <div class="fileira10">
            <div
              class="blocoPosition"
              *ngFor="let product of productList | slice: 0:5"
            >
              <app-product-item [productItem]="product"></app-product-item>
            </div>
          </div>
        </div>
      </div>

      <div class="bar10"></div>
    </section>

    <div class="tituloAnuncios">
      <div class="blockTitle">
        <div class="blockInter">
          <img
            src="https://www.logitechstore.com.br/media/interface/files/icon-audio.svg"
            alt=""
          />
        </div>
      </div>
      <h2>Categorias</h2>
    </div>

    <div class="blocoDepartamentos">
      <div class="blocosPequenos">
        <div class="conjuntoBlocosPequenosDeBaixo">
          <div class="blocoPequeno1">
            <a href="">
              <img src="\assets\img\Blocos\1.jpg" alt="" />
            </a>

            <a href="">
              <div class="botoesPequenos">
                <div class="bloquinho">
                  <p>Hardware</p>
                </div>
              </div>
            </a>
          </div>

          <div class="blocoPequeno2">
            <a href="">
              <img src="\assets\img\Blocos\2.webp" alt="" />
            </a>

            <a href="">
              <div class="botoesPequenos2">
                <div class="bloquinho">
                  <p>Periféricos</p>
                </div>
              </div>
            </a>
          </div>

          <div class="blocoPequeno3">
            <a href="">
              <img
                src="https://www.notebookcheck.info/fileadmin/Notebooks/News/_nc3/Untitled1367.png"
                alt=""
              />
            </a>

            <a href="">
              <div class="botoesPequenos2">
                <div class="bloquinho">
                  <p>Smartphones</p>
                </div>
              </div>
            </a>
          </div>

          <div class="blocoPequeno4">
            <a href="">
              <img
                src="https://t.ctcdn.com.br/_ALSW0x5t7hbdO7pVxYqXW84Auc=/512x288/smart/filters:format(webp)/i570476.png"
                alt=""
              />
            </a>

            <a href="">
              <div class="botoesPequenos">
                <div class="bloquinho">
                  <p>Consoles e Jogos</p>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
