<body>
  <div class="slider">
    <div class="slide-container">
      <input class="btnSlider" type="radio" name="radio-btn" id="radio1" />
      <input class="btnSlider" type="radio" name="radio-btn" id="radio2" />
      <input class="btnSlider" type="radio" name="radio-btn" id="radio3" />

      <div class="slide active">
        <img class="imageDesktop" src="/assets/img/Caroussel\1.jpg" alt="" />
        <img
          class="imageMobile"
          src="/assets/img/Caroussel/mobile1.webp"
          alt=""
        />

        <div class="carouselText">
          <div class="titulo">
            <h1>O notebook gamer supremo</h1>
          </div>
          <div class="subTitulo">
            <p>
              O laptop para jogos de 14 polegadas mais poderoso está de volta e
              mais poderoso do que nunca.
            </p>
          </div>
          <div class="buttonPosition">
            <a class="button" routerLink="/">Explore esse mundo</a>
          </div>
        </div>
      </div>

      <div class="slide">
        <img class="imageDesktop" src="/assets/img\Caroussel\2.png" alt="" />
        <img
          class="imageMobile"
          src="/assets/img\Caroussel/mobile2.webp"
          alt=""
        />

        <div class="carouselText">
          <div class="titulo">
            <h1>Não Importa o time</h1>
          </div>
          <div class="subTitulo">
            <p>Para todas os gostos nós possuimos seu console favorito.</p>
          </div>
          <div class="buttonPosition">
            <a class="button" routerLink="/">Venha Jogar</a>
          </div>
        </div>
      </div>

      <div class="slide">
        <img class="imageDesktop" src="/assets/img/Caroussel/3.png" alt="" />
        <img
          class="imageMobile"
          src="/assets/img/Caroussel/mobile3.webp"
          alt=""
        />

        <div class="carouselText">
          <div class="titulo">
            <h1>Gamers Club</h1>
          </div>
          <div class="subTitulo">
            <p>O clube pra quem joga sério.</p>
          </div>
          <div class="buttonPosition">
            <a class="button" routerLink="/">Conheça Mais</a>
          </div>
        </div>
      </div>
    </div>

    <div class="carouselButtons">
      <div id="prev"></div>
      <div id="next"></div>
    </div>

    <div class="carouselDots">
      <div class="dot active"></div>
      <div class="dot"></div>
      <div class="dot"></div>
    </div>
  </div>

  <div class="margem">
    <div class="welcome">
      <p>Bem-vindo a melhor loja de eletrônicos do Brasil</p>
      <div class="socialIcons">
        <a routerLink="/"><img src="\assets\img\Icones\facebook.png" /></a>
        <a routerLink="/"><img src="\assets\img\Icones\instagram.png" /></a>
        <a routerLink="/"><img src="\assets\img\Icones\twitter.png" /></a>
      </div>
    </div>

    <div class="tituloAnuncios">
      <div class="blockTitle">
        <div class="blockInter">
          <img
            src="https://www.logitechstore.com.br/media/interface/files/porcento.png"
            alt=""
          />
        </div>
      </div>
      <h2>Promoções</h2>
    </div>

    <section class="vitrine">
      <div class="bar1"></div>

      <div class="carouselPosition">
        <div class="carousel">
          <div class="fileira1">
            <div
              class="bloco1"
              *ngFor="let product of productList | slice: 0:1"
            >
              <app-product-item [productItem]="product"></app-product-item>
            </div>
            <div
              class="bloco2"
              *ngFor="let product of productList | slice: 1:2"
            >
              <app-product-item [productItem]="product"></app-product-item>
            </div>
            <div
              class="bloco3"
              *ngFor="let product of productList | slice: 2:3"
            >
              <app-product-item [productItem]="product"></app-product-item>
            </div>
            <div
              class="bloco4"
              *ngFor="let product of productList | slice: 3:4"
            >
              <app-product-item [productItem]="product"></app-product-item>
            </div>
            <div
              class="bloco5"
              *ngFor="let product of productList | slice: 4:5"
            >
              <app-product-item [productItem]="product"></app-product-item>
            </div>
          </div>

          <div class="fileira2">
            <div
              class="bloco1"
              *ngFor="let product of productList | slice: 5:6"
            >
              <app-product-item [productItem]="product"></app-product-item>
            </div>
            <div
              class="bloco2"
              *ngFor="let product of productList | slice: 6:7"
            >
              <app-product-item [productItem]="product"></app-product-item>
            </div>
            <div
              class="bloco3"
              *ngFor="let product of productList | slice: 7:8"
            >
              <app-product-item [productItem]="product"></app-product-item>
            </div>
            <div
              class="bloco4"
              *ngFor="let product of productList | slice: 8:9"
            >
              <app-product-item [productItem]="product"></app-product-item>
            </div>
            <div
              class="bloco5"
              *ngFor="let product of productList | slice: 9:10"
            >
              <app-product-item [productItem]="product"></app-product-item>
            </div>
          </div>
        </div>
      </div>

      <div class="bar2"></div>
    </section>

    <div class="tituloAnuncios">
      <div class="blockTitle">
        <div class="blockInter">
          <img
            src="https://www.logitechstore.com.br/media/interface/files/teclados.svg"
            alt=""
          />
        </div>
      </div>
      <h2>Periféricos</h2>
    </div>

    <section class="vitrine">
      <div class="bar3"></div>

      <div class="carouselPosition">
        <div class="carousel">
          <div class="fileira3">
            <div
              class="bloco1"
              *ngFor="let product of productList | slice: 0:1"
            >
              <app-product-item [productItem]="product"></app-product-item>
            </div>
            <div
              class="bloco2"
              *ngFor="let product of productList | slice: 1:2"
            >
              <app-product-item [productItem]="product"></app-product-item>
            </div>
            <div
              class="bloco3"
              *ngFor="let product of productList | slice: 2:3"
            >
              <app-product-item [productItem]="product"></app-product-item>
            </div>
            <div
              class="bloco4"
              *ngFor="let product of productList | slice: 3:4"
            >
              <app-product-item [productItem]="product"></app-product-item>
            </div>
            <div
              class="bloco5"
              *ngFor="let product of productList | slice: 4:5"
            >
              <app-product-item [productItem]="product"></app-product-item>
            </div>
          </div>

          <div class="fileira4">
            <div
              class="bloco1"
              *ngFor="let product of productList | slice: 5:6"
            >
              <app-product-item [productItem]="product"></app-product-item>
            </div>
            <div
              class="bloco2"
              *ngFor="let product of productList | slice: 6:7"
            >
              <app-product-item [productItem]="product"></app-product-item>
            </div>
            <div
              class="bloco3"
              *ngFor="let product of productList | slice: 7:8"
            >
              <app-product-item [productItem]="product"></app-product-item>
            </div>
            <div
              class="bloco4"
              *ngFor="let product of productList | slice: 8:9"
            >
              <app-product-item [productItem]="product"></app-product-item>
            </div>
            <div
              class="bloco5"
              *ngFor="let product of productList | slice: 9:10"
            >
              <app-product-item [productItem]="product"></app-product-item>
            </div>
          </div>
        </div>
      </div>

      <div class="bar4"></div>
    </section>

    <div class="bannerLongoContainer">
      <div class="bannerLongo">
        <a routerLink="/"
          ><img
            class="bannerDesktop"
            src="\assets\img\Banner\Banner3.png"
            alt=""
        /></a>
        <a routerLink="/"
          ><img
            class="bannerMobile"
            src="\assets\img\Banner/bannerMobile2.jpg"
            alt=""
        /></a>
      </div>
    </div>

    <div class="tituloAnuncios">
      <div class="blockTitle">
        <div class="blockInter">
          <img
            src="https://www.logitechstore.com.br/media/interface/files/icon-audio.svg"
            alt=""
          />
        </div>
      </div>
      <h2>Mais Vendidos</h2>
    </div>

    <section class="vitrineTipo2">
      <div class="vitrineSuperior">
        <div class="bar5"></div>

        <div class="carouselPosition1">
          <div class="carousel">
            <div class="fileira5">
              <div
                class="smallBlock1"
                *ngFor="let product of productList | slice: 0:1"
              >
                <app-product-item [productItem]="product"></app-product-item>
              </div>
              <div
                class="smallBlock2"
                *ngFor="let product of productList | slice: 1:2"
              >
                <app-product-item [productItem]="product"></app-product-item>
              </div>
              <div
                class="smallBlock3"
                *ngFor="let product of productList | slice: 2:3"
              >
                <app-product-item [productItem]="product"></app-product-item>
              </div>
            </div>

            <div class="fileira6">
              <div
                class="smallBlock1"
                *ngFor="let product of productList | slice: 5:6"
              >
                <app-product-item [productItem]="product"></app-product-item>
              </div>
              <div
                class="smallBlock2"
                *ngFor="let product of productList | slice: 6:7"
              >
                <app-product-item [productItem]="product"></app-product-item>
              </div>
              <div
                class="smallBlock3"
                *ngFor="let product of productList | slice: 7:8"
              >
                <app-product-item [productItem]="product"></app-product-item>
              </div>
            </div>
          </div>
        </div>

        <div class="bar6"></div>
        <div class="squareBannerPosition">
          <a routerLink="/"
            ><img
              class="squareBanner"
              src="\assets\img\Banner\bannerQuadrado2.jpg"
              alt=""
          /></a>
        </div>
      </div>

      <div class="vitrineInferior">
        <div class="bar7"></div>

        <div class="carouselPosition2">
          <div class="carousel">
            <div class="fileira7">
              <div
                class="smallBlock1"
                *ngFor="let product of productList | slice: 0:1"
              >
                <app-product-item [productItem]="product"></app-product-item>
              </div>
              <div
                class="smallBlock2"
                *ngFor="let product of productList | slice: 1:2"
              >
                <app-product-item [productItem]="product"></app-product-item>
              </div>
              <div
                class="smallBlock3"
                *ngFor="let product of productList | slice: 2:3"
              >
                <app-product-item [productItem]="product"></app-product-item>
              </div>
            </div>

            <div class="fileira8">
              <div
                class="smallBlock1"
                *ngFor="let product of productList | slice: 5:6"
              >
                <app-product-item [productItem]="product"></app-product-item>
              </div>
              <div
                class="smallBlock2"
                *ngFor="let product of productList | slice: 6:7"
              >
                <app-product-item [productItem]="product"></app-product-item>
              </div>
              <div
                class="smallBlock3"
                *ngFor="let product of productList | slice: 7:8"
              >
                <app-product-item [productItem]="product"></app-product-item>
              </div>
            </div>
          </div>
        </div>

        <div class="bar8"></div>

        <div class="squareBannerPosition">
          <a routerLink="/"
            ><img
              class="squareBanner"
              src="\assets\img\Banner\bannerQuadrado1.png"
              alt=""
          /></a>
        </div>
      </div>
    </section>

    <div class="tituloAnuncios">
      <div class="blockTitle">
        <div class="blockInter">
          <img
            src="https://www.logitechstore.com.br/media/interface/files/headset.svg"
            alt=""
          />
        </div>
      </div>
      <h2>HeadSets e Microfones</h2>
    </div>

    <section class="vitrine">
      <div class="bar9"></div>

      <div class="carouselPosition">
        <div class="carousel">
          <div class="fileira9">
            <div
              class="bloco1"
              *ngFor="let product of productList | slice: 0:1"
            >
              <app-product-item [productItem]="product"></app-product-item>
            </div>
            <div
              class="bloco2"
              *ngFor="let product of productList | slice: 1:2"
            >
              <app-product-item [productItem]="product"></app-product-item>
            </div>
            <div
              class="bloco3"
              *ngFor="let product of productList | slice: 2:3"
            >
              <app-product-item [productItem]="product"></app-product-item>
            </div>
            <div
              class="bloco4"
              *ngFor="let product of productList | slice: 3:4"
            >
              <app-product-item [productItem]="product"></app-product-item>
            </div>
            <div
              class="bloco5"
              *ngFor="let product of productList | slice: 4:5"
            >
              <app-product-item [productItem]="product"></app-product-item>
            </div>
          </div>

          <div class="fileira10">
            <div
              class="bloco1"
              *ngFor="let product of productList | slice: 5:6"
            >
              <app-product-item [productItem]="product"></app-product-item>
            </div>
            <div
              class="bloco2"
              *ngFor="let product of productList | slice: 6:7"
            >
              <app-product-item [productItem]="product"></app-product-item>
            </div>
            <div
              class="bloco3"
              *ngFor="let product of productList | slice: 7:8"
            >
              <app-product-item [productItem]="product"></app-product-item>
            </div>
            <div
              class="bloco4"
              *ngFor="let product of productList | slice: 8:9"
            >
              <app-product-item [productItem]="product"></app-product-item>
            </div>
            <div
              class="bloco5"
              *ngFor="let product of productList | slice: 9:10"
            >
              <app-product-item [productItem]="product"></app-product-item>
            </div>
          </div>
        </div>
      </div>

      <div class="bar10"></div>
    </section>

    <div class="storeBottom"></div>
  </div>
</body>
