<body>
  <div class="container">
    <div class="loginContainerPosition">
      <div class="loginContainer">
        <h1>Bem-Vindo</h1>

        <div class="inputsArea">
          <div class="inputContainer">
            <label for="email">Email</label>
            <input
              [(ngModel)]="usuario.email"
              type="email"
              placeholder="fulano@gmail.com"
              name="email"
            />
          </div>

          <div class="inputContainer">
            <label for="senha">Senha</label>
            <input
              [(ngModel)]="usuario.senha"
              type="password"
              placeholder="Senha"
              name="senha"
            />
          </div>
        </div>

        <div class="buttonArea">
          <div class="loginButton">
            <input type="submit" value="Entrar" (click)="fazerLogin()" />
          </div>

          <div class="registerArea">
            <p>Ainda não conta?</p>
            <a routerLink="/register">criar conta</a>
          </div>
        </div>
      </div>
    </div>

    <div class="sliderContainer">
      <img src="/assets/img/Icones/LogoPequena/logoMenor.png" alt="" />
      <h1>A melhor loja de produtos eletrônicos do Brasil</h1>
      <p>Compre com segurança, rapidez e praticidade.</p>
    </div>
  </div>
</body>
