<body>
  <div class="container">
    <div class="loginContainerPosition">
      <div class="loginContainer">
        <h1>Bem-Vindo</h1>
        <form>
          <div class="inputsArea">
            <div class="inputContainerEmail">
              <label for="email">Email</label>
              <div class="area">
                <input
                  [(ngModel)]="requestLogin.email"
                  type="email"
                  name="email"
                  id="email"
                  placeholder=""
                />
                <div class="imagePositionEmail">
                  <img src="assets/img/Icones/caution.png" />
                </div>
              </div>
            </div>

            <div class="inputContainerPassword">
              <label for="senha">Senha</label>
              <div class="area">
                <input
                  [(ngModel)]="requestLogin.password"
                  type="password"
                  name="senha"
                  id="senha"
                  placeholder=""
                />
                <div class="imagePositionPassword">
                  <img src="assets/img/Icones/caution.png" />
                </div>
              </div>
            </div>

            <p class="subtitle">
              Faça o Recaptcha para desbloquear o botão de login.
            </p>

            <div class="recaptcha">
              <re-captcha
                (resolved)="resolved($event)"
                siteKey="6Lejh20iAAAAABEF8aBb_GSTLZbI3toqLqsva_uw"
              ></re-captcha>
            </div>
          </div>

          <div class="buttonArea">
            <div class="loginButton">
              <input (click)="doLogin()" type="submit" value="Entrar" />
            </div>

            <div class="registerArea">
              <p>Ainda não possui uma conta?</p>
              <a routerLink="/register">criar conta</a>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="sliderContainer">
      <img src="/assets/img/Icones/LogoPequena/logoMenor.png" alt="" />
      <h1>A melhor loja de produtos eletrônicos do Brasil</h1>
      <p>Compre com segurança, rapidez e praticidade.</p>
    </div>
  </div>
</body>
