<div class="footer">
  <div class="menusFooter">
    <div class="sectionMenuFooter">
      <div class="t1">
        <p>Novidades</p>
      </div>

      <div class="l1">
        <a href="#">Hardware</a>
        <a href="#">Celular e Smartphone</a>
        <a href="#">Periféricos</a>
        <a href="#">Teclado e Mouse</a>
        <a href="#">Computadores</a>
        <a href="#">Placa de Vídeo</a>
        <a href="#">Monitores</a>
        <a href="#">Consoles e Games</a>
        <a href="#">Áudio</a>
        <a href="#">Smart TV</a>
        <a href="#">Móveis</a>
        <a href="#">Eletrodomésticos</a>
      </div>
    </div>

    <div class="sectionMenuFooter">
      <div class="t1">
        <p>Serviços</p>
      </div>

      <div class="l1">
        <a href="#">Seja Prime</a>
        <a href="#">Black Friday</a>
        <a href="#">Mega Maio</a>
        <a href="#">Julho Gamer</a>
        <a href="#">Pix</a>
        <a href="#">Oferta do dia</a>
        <a href="#">Openbox</a>
      </div>
    </div>

    <div class="sectionMenuFooter">
      <div class="t1">
        <p>Para Empresas</p>
      </div>

      <div class="l1">
        <a href="#">Carreiras</a>
        <a href="#">Notícias da empresa</a>
        <a href="#">Privacidade</a>
        <a href="#">Investidores</a>
        <a href="#">Diversidade e inclusão</a>
        <a href="#">Acessibilidade</a>
        <a href="#">Sustentabilidade</a>
      </div>
    </div>

    <div class="sectionMenuFooter">
      <div class="t1">
        <p>Ajuda</p>
      </div>

      <div class="l1">
        <a href="#">SAC</a>
        <a href="#">Fale conosco</a>
        <a href="#">Termos de aceite</a>
        <a href="#">Políticas de Privacidade</a>
      </div>
    </div>

    <div class="sectionMenuFooter">
      <div class="t1">
        <p>Sobre</p>
      </div>

      <div class="l1">
        <h6>Horário de atendimento:</h6>
        <p>08:00 às 20:00 -</p>
        <p>Segunda a Sábado,</p>
        <p>horário de Brasília</p>
        <p>(Exceto domingo e feriados, em Limeira-SP)</p>

        <h6>Endereço:</h6>
        <p>Rua Carlos Gomes, 1321 -</p>
        <p>9° andar - Centro</p>
        <p>imeira/SP - CEP: 13480-010</p>

        <h6>Central SAC:</h6>
        <a href="#">(19) 2114-4444</a>

        <h6>E-mail:</h6>
        <a href="#">faleconosco@kabum.com.br</a>
      </div>
    </div>

    <div class="sectionSocialFooter">
      <div class="t1">
        <p>Minha Conta</p>
      </div>

      <div class="l1M">
        <a href="#">Meus Pedidos</a>
        <a href="#">Cadastrar ou Remover Newsletter</a>
      </div>

      <div class="sectionSocialFooter1">
        <div class="t1">
          <p>Redes Sociais</p>
        </div>

        <div class="l1">
          <a href="#"><img src="\assets\img\Icones\redes.png" /></a>
        </div>
      </div>

      <div class="sectionSocialFooter1">
        <div class="t1">
          <p>Baixe nosso app:</p>
        </div>

        <div class="l1">
          <a href="#"><img src="\assets\img\Icones\play.png" /></a>
        </div>
      </div>
    </div>
  </div>

  <div class="rodape">
    <div class="textoEsquerdaRodape">
      <p>Copyright © 2022. Todos os direitos reservados.</p>
    </div>

    <div class="textoDireitaRodape">
      <div class="pais">
        <p>Brasil</p>
      </div>
    </div>
  </div>
</div>
