<body>
  <div class="container">
    <div class="registerContainerPosition">
      <h1>Bem-Vindo</h1>

      <div class="registerArea">
        <div class="registerContainer">
          <div class="inputsArea">
            <div class="inputContainer">
              <label for="senha">Nome</label>
              <input
                [(ngModel)]="requestRegister.firstname"
                type="text"
                placeholder="Nome"
                name=""
              />
            </div>

            <div class="inputContainer">
              <label for="senha">Sobrenome</label>
              <input
                [(ngModel)]="requestRegister.lastname"
                type="text"
                placeholder="Sobrenome"
                name=""
              />
            </div>

            <div class="inputContainerEmail">
              <label for="email">Email</label>
              <div class="area">
                <input
                  [(ngModel)]="requestRegister.email"
                  type="email"
                  name="email"
                  class="emailRegister"
                  placeholder="user@email.com"
                />
                <div class="imagePositionEmail">
                  <img src="assets/img/Icones/caution.png" />
                </div>
              </div>
            </div>

            <div class="inputContainerEmail">
              <label for="email">Confirme seu Email</label>
              <div class="area">
                <input
                  type="email"
                  name="emailConfirm"
                  class="emailRegister"
                  placeholder="user@email.com"
                />
                <div class="imagePositionEmail">
                  <img src="assets/img/Icones/caution.png" />
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="registerContainer">
          <div class="inputsArea">
            <div class="inputContainer">
              <label for="senha">Telefone</label>
              <input
                [(ngModel)]="requestRegister.phone"
                type="text"
                placeholder="(00) 00000-0000"
                name=""
              />
            </div>

            <div class="inputContainer">
              <label for="senha">Data de Nascimento</label>
              <input [(ngModel)]="requestRegister.age" type="date" name="" />
            </div>

            <div class="inputContainer">
              <label for="senha">Senha</label>
              <input
                [(ngModel)]="requestRegister.password"
                type="password"
                placeholder="password"
                name=""
              />
            </div>

            <div class="inputContainer">
              <label for="senha">Confirme sua senha</label>
              <input type="password" placeholder="password" name="" />
            </div>
          </div>
        </div>
      </div>

      <div class="buttonArea">
        <div class="registerButton">
          <input (click)="doRegister()" type="button" value="Registrar" />
        </div>

        <div class="registerArea">
          <p>Já possui conta?</p>
          <a routerLink="/login">Entrar</a>
        </div>
      </div>
    </div>

    <div class="sliderContainer">
      <img src="/assets/img/Icones/LogoPequena/logoMenor.png" alt="" />
      <h1>A melhor loja de produtos eletrônicos do Brasil</h1>
      <p>Compre com segurança, rapidez e praticidade.</p>
    </div>
  </div>
</body>
